**venv**
.vscode
**log**
BASE_DIR
depends22_x64
docs
libomp140.x86_64_x86-64*
media
myproject-clean
numpy-2.1.1
spacy-3.7.6
./static
./staticfiles
thinc-9.1.1
**.jar
**.gz
**pip**
**.exe
**.zip
**__pycache__**
**.cpython**
AI-Interview
**.ssh
**.docx
**.sqlite**
**migrations**
.env
.qodo
