{% extends 'base.html' %}

{% block content %}
<div class="dashboard">
    <h2>Job Posted & Applied Applications</h2>
    <div class="job-listings">
        <div class="job">
            <h3>Job X</h3>
            <div class="applications">
                <div class="application">
                    <p>Candidate X</p>
                    <button>Review Application</button>
                    <button>Interview Schedule</button>
                    <button>Reject</button>
                    <button>Accept</button>
                </div>
                <div class="application">
                    <p>Candidate Y</p>
                    <button>Review Application</button>
                    <button>Interview Schedule</button>
                    <button>Reject</button>
                    <button>Accept</button>
                </div>
                <div class="application">
                    <p>Candidate Z</p>
                    <button>Review Application</button>
                    <button>Interview Schedule</button>
                    <button>Reject</button>
                    <button>Accept</button>
                </div>
            </div>
        </div>
    </div>
    <div class="job-description">
        <h3>Job Description</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet...</p>
    </div>
</div>
{% endblock %}
