<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Job Portal{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'job_list' %}">Job List</a></li>
                <li><a href="{% url 'candidate_register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Job Portal</p>
    </footer>
</body>
</html>
